* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: lightblue;

    &__logo {
        flex-basis: 20%;
        text-align: center;
    }
    &__menu {
        flex-basis: 60%;

        &--list {
            display: flex;
            list-style: none;
            justify-content: space-evenly;
        }

        &--item {
            margin: 0px 20px;
        }
    }
}

.hero {
    background-color: blue;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px 150px;

    &__text {
        background-color: red;
    }

    &__scroll {
        background-color: orange;
        justify-self: flex-end; // why this doesn't work?
    }
}
