@use "./scss/_partials/devices";

@use "./scss/modules/navbar.scss";
@use "./scss/modules/hero.scss";
@use "./scss/modules/about.scss";
@use "./scss/modules/projects.scss";
@use "./scss/modules/skills.scss";
@use "./scss/modules/contact.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    line-height: 1.2;
    font-family: "Poppins", sans-serif;
}
